@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Roboto Slab', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.menu {
    text-align: center;
}

#quienesSomos {
    font-size: 20px;
}

h1 {
    color: black;
    border: 1px solid #F4A259;
    border-style: solid;
    font-size: 30px;
}

#imagenInicio {
    background-color: #8CB369;
    border: 3px dashed #F4E285;   
}

.pInicio {
    background-color: #F4E285;
    border-radius: 1rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.iconoAudio {
    font-size: 50px;
}

#footerIndexDerechos {
    background-color: #BC4B51;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}